@model IEnumerable<BookApp.Models.Book>

@{
    ViewData["Title"] = "GetAllBooks";
}

<h1>GetAllBooks</h1>
@if(TempData["Updatemsg"]!=null){
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
    @TempData["Updatemsg"]
    <button type = "button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" ></button>
</div>
}
<p>
    <a asp-action="AddBook">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Isbn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isbn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.AuthorName)
            </td>
            <td>
                <a asp-action="UpdateBook" asp-route-id="@item.BookId">Edit</a> |
                <a asp-action="GetBookById" asp-route-id="@item.BookId">Details</a> |
                <a asp-action="DeleteBookById" asp-route-id="@item.BookId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
